---
import Layout from "@layouts/Layout.astro";
import InnerHero from "@components/page_sections/InnerHero.astro";
import Process from "@components/page_sections/Process.astro";
import { Image } from "astro:assets";
import TextImageBlock from "@components/TextImageBlock.astro";
import featuredImage from "@assets/computer-illustration-1.png";
---

<Layout headerTheme="dark">
  <main slot="content">
    <InnerHero
      title="Our Process"
      breadcrumbs={{
        current: "Our Process",
        parents: [{ name: "About", slug: "about" }],
      }}
    />
    <div class="">
      <Process />
      <!-- <div class="section-bg-gradient">
        <div class="content-wrapper">
          <TextImageBlock layout="flipped">
            <Fragment slot="image">
              <Image
                src={featuredImage}
                alt=""
                width={900}
                loading="eager"
                format="webp"
              />
            </Fragment>
            <Fragment slot="text">
              <div class="flow">
                <h2>A Considered Approach</h2>
                <p>
                  Before so much as a pixel is edited, it’s important to have a
                  blueprint. We collaborate on the content, design, and
                  architecture of your site so that it looks and feels great for
                  real users (including you).
                </p>
              </div></Fragment
            >
          </TextImageBlock>
        </div>
      </div> -->
    </div>
    <!-- <div id="process">
      <Process />
    </div> -->
  </main>
</Layout>
