.hero {
  &.inner-spacing {
    margin-block-start: 12rem;
    margin-block-end: calc(var(--section-spacer) * 0.75);
  }
}

.card {
  &:hover {
    & .icon-wrapper {
      background-color: rgba(255, 255, 255, 0.75);

      & svg {
        color: var(--color-neutral-8);
      }
    }
  }

  &[data-theme="dark"] {
    & .color-underline {
      text-decoration-color: transparent;

      &:hover {
        text-decoration-color: var(--color-text-link-line-hover-dark);
      }
    }

    & .icon-wrapper {
      background: var(--color-neutral-8);
      border-color: var(--color-neutral-9);

      & svg {
        color: var(--color-neutral-1);
      }
    }
  }

  & .illustration {
    height: 10rem;
    object-fit: contain;
    align-self: flex-start;
    width: fit-content;
  }
}

/* <ul>s with custom svg markers */
.icon-list {
  & .cluster {
    --cluster-space: 0.5rem;
  }

  & svg {
    position: relative;
    top: -2px;
    color: var(--color-primary-4);
    width: 1em;
    height: 1em;
  }
}

.icon-wrapper {
  --icon-size: 1.5rem;
  border-radius: 0.5rem;
  justify-content: center;
  place-self: flex-start;
  align-items: center;
  padding: 0.5rem;
  display: inline-flex;
  position: relative;
  border: 1px solid var(--color-neutral-2);
  color: white; /* var(--color-neutral-8) */
  background: transparent; /* var(--color-neutral-1) */
  transition: background-color 0.3s ease-out;

  &.gradient {
    &::after {
      content: "";
      z-index: -1;
      background: linear-gradient(
        to bottom right,
        var(--color-primary-4),
        var(--color-secondary-5)
      );
      border-radius: 0.5rem;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transform: scale(1.1);
    }
  }

  & svg {
    position: relative;
    z-index: 1;
    width: var(--icon-size);
    height: var(--icon-size);
    transition: color 0.3s ease-out;
  }
}

.tag {
  position: absolute;
  z-index: 5;
  margin: 0;
  font-size: var(--step--1);
  font-weight: 700;
  background: var(--color-primary-6);
  color: white;
  line-height: 1;
  padding: 0.3rem 0.5rem 0.25rem;
  border-radius: 3px;
}
