.hero {
    &.inner-spacing {
        margin-block-start: 12rem;
        margin-block-end: calc(var(--section-spacer) * 0.75);
    }
}

.card {
    &:hover {
        & .icon-wrapper {
            background-color: rgba(255, 255, 255, 0.75);

            & svg {
                color: var(--color-neutral-8);
            }
        }
    }

    & footer {
        & a {
            font-size: var(--step--1);
        }
    }

    &[data-theme="dark"] {
        & .color-underline {
            text-decoration-color: transparent;

            &:hover {
                text-decoration-color: var(--color-text-link-line-hover-dark);
            }
        }

        & .icon-wrapper {
            background: var(--color-neutral-8);
            border-color: var(--color-neutral-9);

            & svg {
                color: var(--color-neutral-1);
            }
        }
    }

    & .illustration {
        height: 10rem;
        object-fit: contain;
        align-self: flex-start;
        width: fit-content;
    }
}

/* black box callout */
.callout {
    position: relative;
    padding: var(--space-2xl);
    border-radius: var(--rounded-corners);
    box-shadow: var(--shadow-regular);
    border: 1px solid var(--color-neutral-10);
    background: var(--color-dark-gradient);
    overflow: hidden;

    & .bg-image {
        position: absolute;
        right: 5%;
        top: 0;
        height: 100%;
        width: auto;
        opacity: 0.7;
        transform: scale(1.5);
    }

    & > *:not(.bg-image) {
        position: relative;
        z-index: 2;
    }
}

/* <ul>s with custom svg markers */
.icon-list {
    & .cluster {
        --cluster-space: 0.5rem;
    }

    & svg {
        position: relative;
        top: -2px;
        color: var(--color-primary-4);
        width: 1em;
        height: 1em;
    }
}

.icon-wrapper {
    --icon-size: 1.5rem;
    border-radius: 0.5rem;
    justify-content: center;
    place-self: flex-start;
    align-items: center;
    padding: 0.5rem;
    display: inline-flex;
    position: relative;
    border: 1px solid var(--color-neutral-2);
    color: white; /* var(--color-neutral-8) */
    background: rgba(255, 255, 255, 0.85); /* transparent */
    transition: background-color 0.3s ease-out;

    &.gradient {
        &::after {
            content: "";
            z-index: -1;
            background: linear-gradient(
                to bottom right,
                var(--color-primary-4),
                var(--color-secondary-5)
            );
            border-radius: 0.5rem;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            transform: scale(1.1);
        }
    }

    & svg {
        color: var(--color-neutral-8); /* currentColor */
        position: relative;
        z-index: 1;
        width: var(--icon-size);
        height: var(--icon-size);
        transition: color 0.3s ease-out;
    }
}

.tag {
    position: absolute;
    z-index: 5;
    margin: 0;
    font-size: var(--step--1);
    font-weight: 700;
    background: var(--color-primary-6);
    color: white;
    line-height: 1;
    padding: 0.3rem 0.5rem 0.25rem;
    border-radius: 3px;
}

.image-hover-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid color-mix(in hsl, var(--color-neutral-2), white 45%);
    border-radius: var(--rounded-corners);
    aspect-ratio: var(--aspect-ratio, 4/3);
    box-shadow: var(--shadow-none);
    overflow: hidden;
    transition: all 0.3s ease-out;

    & img {
        inline-size: 100%;
        block-size: 100%;
        object-fit: cover;
        transition: transform 0.5s ease-out;
    }

    & :is(h2, h3, p) {
        color: var(--color-text-heading-dark);
        opacity: 0;
        transform: translateY(1rem);
        transition: all 0.3s ease-out 0.1s;
    }

    & .overlay {
        position: absolute;
        z-index: 2;
        inset: 0;
        padding: var(--space-l);
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background: linear-gradient(
            to top,
            color-mix(in hsl, var(--color-neutral-9), transparent 10%) 20%,
            transparent
        );
        transition: opacity 0.2s ease-out;
    }

    &:hover {
        border-color: var(--color-primary-4);
        box-shadow: var(--shadow-light);
    }

    &:hover img {
        transform: scale(1.05);
    }

    &:hover .overlay {
        opacity: 1;
    }

    &:hover :is(h2, h3, p) {
        transform: translateY(0);
        opacity: 1;
    }
}

/* @container contentWrapper (max-width: 768px) {

} */

@container contentWrapper (max-width: 640px) {
    .callout {
        padding: var(--space-xl);
    }
}
