.text-gradient {
  background: linear-gradient(
    to right,
    var(--color-primary-4),
    var(--color-secondary-5) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  width: fit-content;
}

.hero {
  & .rounded-block {
    & > * {
      background: #fff;
      height: 4rem;
      position: absolute;
      bottom: 0;
    }

    & > :first-child {
      border-top-left-radius: 2rem;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
    }

    & > :last-child {
      width: 50%;
      right: 0;
    }
  }
}

.content-offset {
  & .content-wrapper {
    padding-inline-start: var(--space-xl);
  }
}

.section-bg-gradient {
  background: linear-gradient(to bottom, transparent, var(--color-neutral-1));
  padding-block-end: var(--space-2xl);
}

.background-lines {
  --rule-color: color-mix(in hsl, var(--color-neutral-8), transparent 50%);

  &::before {
    content: "";
    position: absolute;
    width: 1px;
    background: var(--rule-color);
    height: 150vh;
    top: -50vh;
    /* transform: translateY(50%); */
    left: -1rem;
  }

  &::after {
    content: "";
    position: absolute;
    width: 1px;
    background: var(--rule-color);
    height: 150vh;
    top: -50vh;
    left: -2rem;
    transform: rotate(36deg);
  }
}
