.content-wrapper {
    container: contentWrapper / inline-size;
    position: relative;
    max-width: clamp(16rem, var(--wrapper-max-width, 100vw), 90rem);
    padding-inline: var(--gutter, 1rem);
    margin-inline: auto;
}

.flow {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--flow-space, 1rem);
}

.cluster {
    display: flex;
    flex-wrap: wrap;
    gap: var(--cluster-space, 1rem);
    justify-content: var(--cluster-justify, flex-start);
    align-items: var(--cluster-align, center);
}

.has-sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: var(--sidebar-gap, 3rem);

    & > :last-child {
        flex-basis: var(--sidebar-min-width, 25rem);
        flex-grow: 1;
    }

    & > :first-child {
        flex-basis: 0;
        flex-grow: 999;
        min-inline-size: var(--main-min-width, 50%);
    }
}

.responsive-grid {
    display: grid;
    grid-gap: var(--grid-gap, 1rem);
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            min(var(--item-min-width, 30rem), 100%),
            var(--item-max-width, 1fr)
        )
    );
}

.grid-6 {
    margin-block: var(--space-xl);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: var(--space-m);

    & > * {
        grid-column: span 2;
    }

    &.feature-span {
        & > :is(:nth-child(1), :nth-child(2)) {
            grid-column: span 3;
        }
    }

    &.centered {
        align-items: center;
        justify-items: center;
    }
}

.grid-9 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: var(--space-s);
}

@container contentWrapper (max-width: 999px) {
    .grid-6 {
        & > * {
            grid-column: span 3;
        }
    }
}

@container contentWrapper (max-width: 768px) {
    .grid-6 {
        & > * {
            grid-column: span 6;
        }

        &.feature-span {
            & > :is(:nth-child(1), :nth-child(2)) {
                grid-column: span 6;
            }
        }
    }
}
