---
import Layout from "@layouts/Layout.astro";
import InnerHero from "@components/page_sections/InnerHero.astro";

const title = "Contact";
const description =
  "Reach out for a complimentary website assessment and quote. Let’s discuss how we can help with your next project.";
---

<Layout
  headerTheme="dark"
  meta={{
    seo: {
      title: title,
      description: description,
    },
  }}
>
  <main slot="content">
    <InnerHero title={title}>{description} </InnerHero>
    <div class="content-offset">
      <div class="content-wrapper">
        <article class="form-wrapper | grid-9">
          <h2>Thank you!</h2>
          <p>
            We've received your submission and will be in touch shortly to
            discuss next steps.
          </p>
        </article>
      </div>
    </div>
  </main>
</Layout>

<style>
  .form-wrapper {
    margin-block-start: calc(var(--section-spacer) * 0.5);
    padding-block-end: var(--section-spacer);
  }

  .grid-9 {
    gap: var(--space-xl);
    align-items: center;

    & > :first-child {
      grid-column: 1 / span 3;
    }

    & > :last-child {
      grid-column: span 6;
    }
  }
</style>
