---
import Layout from "@layouts/Layout.astro";
import ButtonLink from "@components/ButtonLink.astro";
import InnerHero from "@components/page_sections/InnerHero.astro";

const title = "Contact";
const description =
  "Reach out for a complimentary website assessment and quote. Let’s discuss how we can help with your next project.";

const pricing = [
  {
    name: "Under $5,000",
    value: "5k",
  },
  {
    name: "$5,000 to $10,000",
    value: "5k-10k",
    default: true,
  },
  {
    name: "$10,000 to $20,000",
    value: "10k-20k",
  },
  {
    name: "$20,000 to $50,000",
    value: "20k-50k",
  },
  {
    name: "More than $50,000",
    value: "50k+",
  },
];
---

<Layout
  headerTheme="dark"
  meta={{
    seo: {
      title: title,
      description: description,
    },
  }}
>
  <main slot="content">
    <InnerHero title={title}>{description} </InnerHero>
    <div class="content-offset">
      <div class="content-wrapper">
        <article class="form-wrapper | grid-9">
          <div class="text | flow">
            <h2>Project Inquiry</h2>
            <p>
              Submit a form with your project details and we’ll get back to you
              with a complimentary assessment and quote.
            </p>
          </div>
          <form
            id="project-inquiry"
            action="https://formspree.io/f/xpwaaane"
            method="POST"
          >
            <div class="form-item | col-3">
              <label for="name">Your Name</label>
              <input
                type="text"
                name="name"
                id="name"
                placeholder="Daniel Saunders"
                autocomplete="name"
                required
              />
            </div>
            <div class="form-item | col-3">
              <label for="org">Your Organization</label>
              <input type="text" name="org" id="org" placeholder="DS Design" />
            </div>
            <div class="form-item | col-4">
              <label for="email">Your Email</label>
              <input
                type="email"
                name="email"
                id="email"
                placeholder="daniel@danielsaunders.xyz"
                autocomplete="email"
                required
              />
            </div>
            <fieldset class="form-item checkbox-group | col-4">
              <legend><strong>Select any number of services:</strong></legend>
              <div>
                <label for="services-website">Website</label>
                <input
                  type="checkbox"
                  name="services-website"
                  id="services-website"
                  checked
                />
              </div>
              <div>
                <label for="services-cms">Content Management System</label>
                <input type="checkbox" name="services-cms" id="services-cms" />
              </div>
              <div>
                <label for="services-ongoing-support">Web Support Plan</label>
                <input
                  type="checkbox"
                  name="services-ongoing-support"
                  id="services-ongoing-support"
                />
              </div>
              <div>
                <label for="services-design">Other Design</label>
                <input
                  type="checkbox"
                  name="services-design"
                  id="services-design"
                />
              </div>
            </fieldset>
            <div class="form-item | col-3">
              <label for="budget">Budget</label>
              <select name="budget" id="budget" required>
                {
                  pricing.map((item) => (
                    <option
                      selected={item.default ? true : false}
                      value={item.value}
                    >
                      {item.name}
                    </option>
                  ))
                }
              </select>
            </div>
            <div class="form-item | col-6">
              <label for="message">Message</label>
              <textarea
                name="message"
                id="message"
                rows="6"
                placeholder="Please provide some additional context about your project."
                required></textarea>
            </div>
            <ButtonLink type="submit">Submit</ButtonLink>
            <p id="form-status"></p>
          </form>
        </article>
      </div>
    </div>
  </main>
</Layout>

<style>
  .form-wrapper {
    margin-block-start: calc(var(--section-spacer) * 0.5);
  }

  .grid-9 {
    gap: var(--space-xl);

    & .text {
      grid-column: 1 / span 3;
    }

    & form {
      grid-column: span 6;
    }
  }

  form {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: var(--space-s);
    row-gap: var(--space-l);
    padding: var(--space-xl);
    border-radius: var(--rounded-corners);
    box-shadow: var(--shadow-light);
    border: 1px solid var(--color-neutral-1);

    & .col-2 {
      grid-column: span 2;
    }

    & .col-3 {
      grid-column: span 3;
    }

    & .col-4 {
      grid-column: span 4;
    }

    & .col-6 {
      grid-column: span 6;
    }
  }

  .form-item {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-3xs);

    &:not(.checkbox-group) label {
      font-weight: 700;
    }
  }

  .form-item:has(:is(input[required], textarea[required], select[required]))
    label::after,
  .form-item legend::after {
    content: "*";
    position: relative;
    color: var(--color-primary-4);
    left: 0.25rem;
  }

  :is(input, textarea, select, fieldset) {
    color: var(--color-text-body);
    padding: 0.75rem 1rem;
    border-radius: var(--rounded-corners-small);
    border: 1px solid var(--color-neutral-2);
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--color-neutral-4);
    opacity: 0.85;
  }

  .content-offset {
    padding-block-end: var(--section-spacer);
    background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0)),
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23cfd7e2' fill-opacity='0.25'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  #form-status {
    grid-column: span 3;
    font-weight: 700;
    align-self: center;
  }
</style>

<script>
  const form = document.querySelector("form") as HTMLFormElement;
  const checkboxGroup = document.querySelector("form fieldset");
  const values = [...checkboxGroup?.querySelectorAll("input")!];
  const errorMessage =
    "Sorry, there was a problem submitting your form. Please try again in a moment.";

  values.forEach((value) =>
    value.addEventListener("change", () => {
      if (!values.some((value) => value.checked)) {
        checkboxGroup
          ?.querySelector("input")
          ?.setCustomValidity("Please select at least one service.");
      } else {
        checkboxGroup?.querySelector("input")?.setCustomValidity("");
      }
    })
  );

  // AJAX form submit to Formspree
  async function handleFormSubmit(event: Event) {
    event?.preventDefault();
    const target = event.target as HTMLFormElement;

    const status = document.querySelector("#form-status") as Element;
    const formData = new FormData(target);

    try {
      const res = await fetch(target.action, {
        method: target.method,
        body: formData,
        headers: {
          Accept: "application/json",
        },
      });

      if (res.ok) {
        status.innerHTML = "Thanks for your submission!";
        form.reset();
      } else {
        const data = await res.json();
        if (Object.hasOwn(data, "errors")) {
          status.innerHTML = data["errors"]
            .map((err: any) => err["message"])
            .join(", ");
        } else {
          status.innerHTML = errorMessage;
        }
      }
    } catch (error) {
      status.innerHTML = errorMessage;
    }
  }

  form.addEventListener("submit", handleFormSubmit);
</script>
