---
import Layout from "@layouts/Layout.astro";

const title = "Privacy Statement";
const description = "Lorem";
---

<Layout
  headerTheme="normal"
  meta={{
    seo: {
      title: title,
      description: description,
    },
    openGraph: {
      image: "/api/og",
    },
  }}
>
  <main slot="content">
    <div class="overflow">
      <svg
        class="illustration"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 768"
        ><defs class="astro-OCCKZJPU"
          ><style>
            .cls-1 {
              fill: var(--color-secondary-4);
            }
            .cls-1,
            .cls-2,
            .cls-3 {
              opacity: 0.3;
            }
            .cls-4 {
              opacity: 0.4;
            }
            .cls-4,
            .cls-2 {
              fill: var(--color-neutral-6);
            }
            .cls-3 {
              fill: var(--color-primary-5);
            }
          </style></defs
        ><circle class="cls-1 astro-OCCKZJPU" cx="192" cy="65" r="34"
        ></circle><circle
          class="cls-1 astro-OCCKZJPU"
          cx="63.5"
          cy="191.5"
          r="30.5"></circle><circle
          class="cls-2 astro-OCCKZJPU"
          cx="192.5"
          cy="447.5"
          r="30.5"></circle><circle
          class="cls-2 astro-OCCKZJPU"
          cx="448.5"
          cy="447.5"
          r="30.5"></circle><circle
          class="cls-3 astro-OCCKZJPU"
          cx="63.5"
          cy="319.5"
          r="23.5"></circle><circle
          class="cls-2 astro-OCCKZJPU"
          cx="192.5"
          cy="703.5"
          r="23.5"></circle><circle
          class="cls-2 astro-OCCKZJPU"
          cx="319.5"
          cy="191.5"
          r="26.5"></circle><circle
          class="cls-3 astro-OCCKZJPU"
          cx="319.5"
          cy="319.5"
          r="26.5"></circle><circle
          class="cls-2 astro-OCCKZJPU"
          cx="319.5"
          cy="575.5"
          r="13.5"></circle><circle
          class="cls-3 astro-OCCKZJPU"
          cx="319"
          cy="65"
          r="34"></circle><polygon
          class="cls-2 astro-OCCKZJPU"
          points="64.05 33.93 33.1 96 96 96 64.05 33.93"></polygon><polygon
          class="cls-2 astro-OCCKZJPU"
          points="64.16 427.23 43.97 467.73 85.01 467.73 64.16 427.23"
        ></polygon><polygon
          class="cls-3 astro-OCCKZJPU"
          points="448.2 559.46 430.96 594.02 465.98 594.02 448.2 559.46"
        ></polygon><polygon
          class="cls-1 astro-OCCKZJPU"
          points="448.06 675.75 418.02 736 479.07 736 448.06 675.75"
        ></polygon><rect
          class="cls-3 astro-OCCKZJPU"
          x="441.67"
          y="57.72"
          width="12.66"
          height="12.66"
          rx=".93"
          ry=".93"
          transform="translate(176.51 -298.02) rotate(45)"></rect><rect
          class="cls-1 astro-OCCKZJPU"
          x="426.82"
          y="171.87"
          width="42.36"
          height="42.36"
          rx=".93"
          ry=".93"
          transform="translate(267.72 -260.24) rotate(45)"></rect><rect
          class="cls-3 astro-OCCKZJPU"
          x="180.65"
          y="307.7"
          width="22.7"
          height="22.7"
          rx=".93"
          ry=".93"
          transform="translate(281.84 -42.32) rotate(45)"></rect><rect
          class="cls-3 astro-OCCKZJPU"
          x="52.65"
          y="691.7"
          width="22.7"
          height="22.7"
          rx=".93"
          ry=".93"
          transform="translate(515.88 160.66) rotate(45)"></rect><rect
          class="cls-3 astro-OCCKZJPU"
          x="315.67"
          y="696.72"
          width="12.66"
          height="12.66"
          rx=".93"
          ry=".93"
          transform="translate(591.44 -21.77) rotate(45)"></rect><rect
          class="cls-4 astro-OCCKZJPU"
          x="126"
          width="2"
          height="384"></rect><rect
          class="cls-4 astro-OCCKZJPU"
          x="255"
          y="256"
          width="2"
          height="128"></rect><rect
          class="cls-4 astro-OCCKZJPU"
          x="381"
          y="639"
          width="2"
          height="129"></rect><rect
          class="cls-4 astro-OCCKZJPU"
          x="63"
          y="448"
          width="2"
          height="128"
          transform="translate(576 448) rotate(90)"></rect><rect
          class="cls-4 astro-OCCKZJPU"
          x="254.5"
          y="512.5"
          width="2"
          height="255"
          transform="translate(895.5 384.5) rotate(90)"></rect><rect
          class="cls-4 astro-OCCKZJPU"
          x="382"
          y="256"
          width="2"
          height="256"></rect><polygon
          class="cls-4 astro-OCCKZJPU"
          points="384 126 384 0 382 0 382 126 382 128 384 128 512 128 512 126 384 126"
        ></polygon></svg
      >
      <div class="content-wrapper">
        <div class="rich-content">
          <h1>{title}</h1>
          <p>
            We value your privacy and are committed to respecting your digital
            rights.
          </p>
          <p>
            This website does not use cookies or scripts that track the websites
            you visit. We use a minimal, privacy-focused analytics service to
            monitor site traffic that does not set cookies and does not know
            anything about your browsing activity, personal information, or
            location.
          </p>
          <p>
            If you submit a project inquiry form on this site, your name, email
            address, and organization name will be stored on our servers. This
            information will never be shared with any third-party. We may
            occasionally use your contact information to share details about
            services and promotions. You will have the option to unsubscribe
            from these communications at any time.
          </p>
          <p>
            Changes to this policy can be made at any time and will be published
            on this page. For any complaints or concerns about the information
            we collect, you can contact Daniel Saunders at <a
              href="mailto:hello@ds-design-studio.com"
              >hello@ds-design-studio.com</a
            >
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  .overflow {
    position: relative;
    overflow: hidden;
  }

  .content-wrapper {
    margin-block-start: 10rem;
    margin-block-end: var(--section-spacer);
  }

  .illustration {
    position: absolute;
    top: -20rem;
    right: -6rem;
    z-index: -1;
    transform: rotate(-48deg);
    width: 35%;
    opacity: 0.3;
  }
</style>
