---
import Layout from "@layouts/Layout.astro";
import InnerHero from "@components/page_sections/InnerHero.astro";
---

<Layout headerTheme="normal">
  <main slot="content">
    <div class="content-wrapper">
      <h1>Privacy Statement</h1>
      <div class="rich-content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
          nisi blanditiis ratione quam rerum, itaque dicta repellat, veritatis
          sunt vero quibusdam nobis? Totam quisquam quis ullam a cupiditate
          officia quaerat?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
          nisi blanditiis ratione quam rerum, itaque dicta repellat, veritatis
          sunt vero quibusdam nobis? Totam quisquam quis ullam a cupiditate
          officia quaerat?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
          nisi blanditiis ratione quam rerum, itaque dicta repellat, veritatis
          sunt vero quibusdam nobis? Totam quisquam quis ullam a cupiditate
          officia quaerat?
        </p>
      </div>
    </div>
  </main>
</Layout>
