---
import Layout from "@layouts/Layout.astro";
import ProjectCard from "@components/ProjectCard.astro";
import CTA from "@components/page_sections/CTA.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<Layout headerTheme="normal">
  <main slot="content">
    <article class="hero | content-wrapper | inner-spacing flow">
      <h1>Selected Work</h1>
      <p>
        A selection of recent work showcasing <a href="/process"
          >the principles</a
        > that I bring to all of my web design projects.
      </p>
    </article>
    <div id="projects" class="grid-6 | content-wrapper">
      {
        projects.map((project) => (
          <div>
            <ProjectCard project={project} />
          </div>
        ))
      }
    </div>
    <CTA />
  </main>
</Layout>

<style>
  .hero {
    text-align: center;

    & h1 {
      font-size: var(--step-5);
    }

    & p {
      max-width: var(--paragraph-measure);
      margin-inline: auto;
    }
  }

  .grid-6 {
    gap: var(--space-2xl);
    margin-block-end: var(--section-spacer);

    & > * {
      grid-column: span 3;
    }

    & > :nth-child(even) {
      margin-block-start: var(--space-2xl);
    }
  }
</style>
