---
type Props = {
    content: string;
    centered?: boolean;
};

const { content, centered = false } = Astro.props;
---

<div class:list={["text-callout", centered && "centered"]}>
    <blockquote set:html={content} />
</div>
