---
import ButtonLink from "@components/ButtonLink.astro";
import { Image } from "astro:assets";

import calloutBgImage from "@assets/shape-pattern-1.svg";
---

<div class="cta-bg">
  <article class="content-wrapper">
    <div
      class="cta callout | dark"
      x-data="{ messages: ['marketing website', 'content website', 'non-profit website', 'consulting website', 'personal website', 'church website', 'business website', 'media website'] }"
    >
      <div
        class="text | flow"
        x-data="{ currentMessage: null, init() { this.currentMessage = this.messages[0]; setInterval(() => { let array = this.messages; let currentIndex = array.indexOf(this.currentMessage); let next = array[currentIndex === array.length - 1 ? 0 : currentIndex + 1]; this.currentMessage = next }, 4000) } }"
        x-init="$watch('currentMessage', () => { $refs.text.classList.add('change'); setTimeout(() => $refs.text.classList.remove('change'), 500) })"
      >
        <h2 class="message">
          Ready to elevate your next <span x-text="currentMessage" x-ref="text"
          ></span>?
        </h2>
        <ButtonLink href="/contact">
          <span>Get a Quote</span><svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
          >
            <path
              d="M1.5 8.67v8.58a3 3 0 0 0 3 3h15a3 3 0 0 0 3-3V8.67l-8.928 5.493a3 3 0 0 1-3.144 0L1.5 8.67Z"
            ></path>
            <path
              d="M22.5 6.908V6.75a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3v.158l9.714 5.978a1.5 1.5 0 0 0 1.572 0L22.5 6.908Z"
            ></path>
          </svg>
        </ButtonLink>
      </div>
      <Image
        class="bg-image"
        src={calloutBgImage}
        alt=""
        width={600}
        format="svg"
        loading="lazy"
      />
    </div>
  </article>
</div>

<style>
  .cta {
    text-align: center;
    margin-block: var(--section-spacer);
  }

  .text {
    align-items: center;

    &.flow {
      --flow-space: var(--space-l);
    }
  }

  .message {
    & span {
      display: inline-block;
      color: var(--color-primary-4);
    }
  }

  .change {
    animation: 0.4s fade-up-long ease-out;
  }

  .cta-bg {
    border-block: 1px solid var(--color-neutral-2);
    position: relative;
    padding-block: calc(var(--section-spacer) * 0.5);
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23cfd7e2' fill-opacity='0.25'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    /* 
    & img {
      position: absolute;
      inset: 0;
      z-index: -1;
    } */
  }
</style>

<script></script>
