---
import { Image } from "astro:assets";
import bgImage from "@assets/blob-bg.png";
---

<div class="feature-illustration">
  <svg
    class="element-code"
    width="185"
    height="200"
    viewBox="0 0 185 200"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M115.545 77.4545L138.591 100.5L115.545 123.545M69.4545 123.545L46.4091 100.5L69.4545 77.4545M31.0455 185H153.955C160.067 185 165.928 182.572 170.25 178.25C174.572 173.928 177 168.067 177 161.955V39.0455C177 32.9334 174.572 27.0717 170.25 22.7499C165.928 18.428 160.067 16 153.955 16H31.0455C24.9334 16 19.0717 18.428 14.7499 22.7499C10.428 27.0717 8 32.9334 8 39.0455V161.955C8 168.067 10.428 173.928 14.7499 178.25C19.0717 182.572 24.9334 185 31.0455 185Z"
      stroke="url(#code_gradient)"
      stroke-width="6"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
  </svg>
  <svg
    class="element-cube"
    width="185"
    height="200"
    viewBox="0 0 185 200"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M181 55.625L158.875 42.7138M181 55.625V77.75M181 55.625L158.875 68.5362M4 55.625L26.125 42.7138M4 55.625L26.125 68.5362M4 55.625V77.75M92.5 107.25L114.625 94.3388M92.5 107.25L70.375 94.3388M92.5 107.25V129.375M92.5 195.75L114.625 182.839M92.5 195.75V173.625M92.5 195.75L70.375 182.839M70.375 16.9013L92.5 4L114.625 16.9112M181 122V144.125L158.875 157.036M26.125 157.036L4 144.125V122"
      stroke="url(#cube_gradient)"
      stroke-width="4.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
  </svg>
  <svg
    class="element-window"
    width="593"
    height="576"
    viewBox="0 0 593 576"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_1120_70)">
      <!-- Outer rectangle -->
      <rect
        x="10.5"
        y="0.5"
        width="1015.02"
        height="562.892"
        rx="15.5"
        stroke="var(--color-neutral-8)"></rect>
      <!-- Inner rectangle -->
      <rect
        x="35.5"
        y="55.5"
        width="584"
        height="484"
        rx="7.5"
        stroke="var(--color-neutral-8)"></rect>
      <!-- Controls upper left -->
      <circle
        cx="42"
        cy="26"
        r="6.5"
        fill="var(--color-primary-8)"
        stroke="var(--color-primary-7)"></circle>
      <circle
        cx="65"
        cy="26"
        r="6.5"
        fill="var(--color-secondary-8)"
        stroke="var(--color-secondary-7)"></circle>
      <circle
        cx="88"
        cy="26"
        r="6.5"
        fill="var(--color-neutral-9)"
        stroke="var(--color-neutral-8)"></circle>
      <!-- Search bar -->
      <path
        d="M127 25.5C127 20.8056 130.806 17 135.5 17H555.5C560.194 17 564 20.8056 564 25.5V25.5C564 30.1944 560.194 34 555.5 34H135.5C130.806 34 127 30.1944 127 25.5V25.5Z"
        fill="var(--color-neutral-9)"
        stroke="var(--color-neutral-8)"></path>
      <!-- Grid lines vertical -->
      <path
        class="vertical-line"
        id="vertical_line_1"
        d="M155 54L155 537"
        stroke="url(#vertical_line_gradient)"></path>
      <path
        class="vertical-line"
        id="vertical_line_2"
        d="M288 54L288 537"
        stroke="url(#vertical_line_gradient)"></path>
      <path
        class="vertical-line"
        id="vertical_line_3"
        d="M426 54L426 537"
        stroke="url(#vertical_line_gradient)"></path>
      <path
        class="vertical-line"
        id="vertical_line_4"
        d="M564 54L564 537"
        stroke="url(#vertical_line_gradient)"></path>
      <!-- Grid lines horizontal -->
      <path
        class="horizontal-line"
        id="horizontal_line_1"
        d="M593 190L35 190"
        stroke="url(#horizontal_line_gradient)"></path>
      <path
        class="horizontal-line"
        id="horizontal_line_2"
        d="M593 330L35 330"
        stroke="url(#horizontal_line_gradient_accent)"></path>
      <path
        class="horizontal-line"
        id="horizontal_line_3"
        d="M593 465L35 465"
        stroke="url(#horizontal_line_gradient)"></path>
    </g>
    <g>
      <rect
        id="horizontal-accent-1"
        width="125"
        height="1"
        stroke="url(#horizontal_line_gradient_accent_short)"></rect>
      <rect
        id="horizontal-accent-2"
        width="125"
        height="1"
        stroke="url(#horizontal_line_gradient_accent_short)"></rect>
    </g>
    <defs>
      <linearGradient
        id="vertical_line_gradient"
        x1="155.5"
        y1="54"
        x2="155.5"
        y2="537"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="var(--color-neutral-7)" stop-opacity="0.2"></stop>
        <stop offset="0.45" stop-color="var(--color-neutral-7)"></stop>
        <stop offset="1" stop-color="var(--color-neutral-7)" stop-opacity="0.2"
        ></stop>
      </linearGradient>
      <linearGradient
        id="vertical_line_gradient_accent"
        x1="155.5"
        y1="54"
        x2="155.5"
        y2="537"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="var(--color-primary-4)" stop-opacity="0.2"></stop>
        <stop offset="0.45" stop-color="var(--color-primary-4)"></stop>
        <stop offset="1" stop-color="var(--color-primary-4)" stop-opacity="0.2"
        ></stop>
      </linearGradient>
      <linearGradient
        id="horizontal_line_gradient"
        x1="104"
        y1="166"
        x2="237"
        y2="167"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="var(--color-neutral-7)" stop-opacity="0.3"></stop>
        <stop offset="0.35" stop-color="var(--color-neutral-7)"></stop>
        <stop offset="1" stop-color="var(--color-neutral-7)" stop-opacity="0.4"
        ></stop>
      </linearGradient>
      <linearGradient
        id="horizontal_line_gradient_accent"
        x1="104"
        y1="166"
        x2="237"
        y2="167"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="var(--color-primary-4)" stop-opacity="0.3"></stop>
        <stop offset="0.35" stop-color="var(--color-primary-4)"></stop>
        <stop offset="1" stop-color="var(--color-primary-4)" stop-opacity="0.4"
        ></stop>
      </linearGradient>
      <linearGradient
        id="horizontal_line_gradient_accent_short"
        x1="0"
        y1="1"
        x2="125"
        y2="1"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="var(--color-primary-4)" stop-opacity="0"></stop>
        <stop offset="0.5" stop-color="var(--color-primary-4)"></stop>
        <stop offset="1" stop-color="var(--color-primary-4)" stop-opacity="0"
        ></stop>
      </linearGradient>
      <linearGradient
        id="cube_gradient"
        x1="0"
        y1="0"
        x2="200"
        y2="200"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="var(--color-secondary-5)"></stop>
        <stop offset="1" stop-color="var(--color-secondary-3)"></stop>
      </linearGradient>
      <linearGradient
        id="code_gradient"
        x1="0"
        y1="0"
        x2="200"
        y2="200"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="var(--color-primary-3)"></stop>
        <stop offset="1" stop-color="var(--color-primary-5)"></stop>
      </linearGradient>
      <clipPath id="clip0_1120_70">
        <rect width="593" height="576"></rect>
      </clipPath>
    </defs>
  </svg>
  <Image
    class="bg-image"
    src={bgImage}
    alt=""
    width={1000}
    format="webp"
    loading="eager"
  />
</div>

<style>
  .feature-illustration {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .element-cube {
    position: absolute;
    top: 73px;
    left: -35px;
    transform: scale(0.9);
  }

  .element-code {
    position: absolute;
    top: 297px;
    left: 264px;
    transform: scale(0.4);
  }

  .bg-image {
    position: absolute;
    top: 6rem;
    z-index: -1;
    transform: scale(1.5);
    filter: brightness(0.6);
    opacity: 0.35;
  }

  @media (max-width: 999px) {
    .feature-illustration {
      top: 85%;
    }
  }

  @media (max-width: 768px) {
    .feature-illustration {
      position: relative;
      top: 350px;
      right: -8rem;
    }
  }

  @media (max-width: 480) {
    .feature-illustration {
      right: -3rem;
    }
  }
</style>

<script>
  import { gsap } from "gsap";
  import { MotionPathPlugin } from "gsap/MotionPathPlugin";

  document.addEventListener("astro:page-load", () => {
    gsap.registerPlugin(MotionPathPlugin);

    function intro() {
      const tl = gsap.timeline();

      tl.from(".vertical-line", {
        opacity: 0,
        duration: 1.4,
        stagger: 0.3,
      }).from(
        ".horizontal-line",
        {
          opacity: 0,
          duration: 1,
          stagger: 0.3,
        },
        "<1"
      );

      return tl;
    }

    function accents() {
      const tl = gsap.timeline({ repeat: -1, repeatDelay: 2.3 });

      tl.fromTo(
        "#horizontal-accent-1",
        {
          opacity: 0,
        },
        {
          motionPath: {
            path: "#horizontal_line_1",
            align: "#horizontal_line_1",
            alignOrigin: [0.5, 0.5],
            start: 1,
            end: 0,
          },
          keyframes: [{ opacity: 1 }, { opacity: 0 }],
          duration: 1.6,
          ease: "power1",
        }
      ).fromTo(
        "#horizontal-accent-2",
        {
          opacity: 0,
        },
        {
          motionPath: {
            path: "#horizontal_line_3",
            align: "#horizontal_line_3",
            alignOrigin: [0.5, 0.5],
            start: 1,
            end: 0,
          },
          keyframes: [{ opacity: 1 }, { opacity: 0 }],
          duration: 1.6,
          ease: "power1",
        },
        "<25%"
      );

      return tl;
    }

    function cube() {
      const tl = gsap.timeline();

      tl.fromTo(
        ".element-cube",
        {
          opacity: 0,
        },
        {
          opacity: 1,
          duration: 3,
        }
      ).to(
        ".element-cube",
        {
          motionPath: {
            path: [
              { x: 0, y: 0 },
              { x: 16, y: 16 },
              { x: 16, y: 32 },
              { x: 0, y: 32 },
              { x: -16, y: 16 },
              { x: 0, y: 0 },
            ],
            alignOrigin: [0.5, 0.5],
          },
          transformOrigin: "50% 50%",
          duration: 15,
          ease: "none",
          repeat: -1,
          repeatDelay: 0,
        },
        "<"
      );

      return tl;
    }

    function code() {
      const tl = gsap.timeline();

      tl.fromTo(
        ".element-code",
        {
          opacity: 0,
        },
        {
          opacity: 1,
          duration: 3,
          scale: 0.4,
        }
      ).to(
        ".element-code",
        {
          transformOrigin: "50% 50%",
          scale: 0.47,
          duration: 4,
          ease: "power1.inOut",
          repeat: -1,
          yoyo: true,
          repeatDelay: 0,
        },
        "<"
      );

      return tl;
    }

    const timeline = gsap.timeline();
    timeline
      .add(intro())
      .add(accents(), "-=1.65")
      .add(cube(), "-=1.3")
      .add(code(), "<0.25");
  });
</script>
