---
import ButtonLink from "@components/ButtonLink.astro";
---

<article class="hero">
  <div class="grid-9 | content-wrapper">
    <div class="text | flow">
      <header class="flow">
        <h1>
          Freelance studio hand-crafting <span class="text-gradient"
            >beautiful websites</span
          >.
        </h1>
        <p>
          As a web studio in Los Angeles, we bridge the realms of design and
          development to deliver stunning, user-friendly, and effective sites.
        </p>
      </header>
      <div class="cluster">
        <ButtonLink href="/contact">Get a Quote</ButtonLink>
        <ButtonLink href="/about" theme="ghost">What We Offer</ButtonLink>
      </div>
    </div>
  </div>
  <svg
    class="feature-illustration"
    width="593"
    height="620"
    viewBox="0 0 593 620"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_1021_326)">
      <g filter="url(#filter0_d_1021_326)">
        <g filter="url(#filter1_bd_1021_326)">
          <rect
            x="84"
            y="26"
            width="1016.02"
            height="563.892"
            rx="16"
            fill="#2A3442"></rect>
          <rect
            x="84.5"
            y="26.5"
            width="1015.02"
            height="562.892"
            rx="15.5"
            stroke="#515D6F"></rect>
        </g>
        <g filter="url(#filter2_bd_1021_326)">
          <rect x="109" y="81" width="505" height="485" rx="8" fill="#2A3442"
          ></rect>
          <rect
            x="109.5"
            y="81.5"
            width="504"
            height="484"
            rx="7.5"
            stroke="#515D6F"></rect>
        </g>
        <mask id="path-5-inside-1_1021_326" fill="white">
          <path
            d="M84 42C84 33.1634 91.1634 26 100 26H1084.02C1092.86 26 1100.02 33.1634 1100.02 42V76.8011H84V42Z"
          ></path>
        </mask>
        <path
          d="M84 42C84 33.1634 91.1634 26 100 26H1084.02C1092.86 26 1100.02 33.1634 1100.02 42V76.8011H84V42Z"
          fill="#2A3442"></path>
        <path
          d="M83 42C83 32.6112 90.6112 25 100 25H1084.02C1093.41 25 1101.02 32.6112 1101.02 42H1099.02C1099.02 33.7157 1092.31 27 1084.02 27H100C91.7157 27 85 33.7157 85 42H83ZM1100.02 76.8011H84H1100.02ZM83 76.8011V42C83 32.6112 90.6112 25 100 25V27C91.7157 27 85 33.7157 85 42V76.8011H83ZM1084.02 25C1093.41 25 1101.02 32.6112 1101.02 42V76.8011H1099.02V42C1099.02 33.7157 1092.31 27 1084.02 27V25Z"
          fill="#515D6F"
          mask="url(#path-5-inside-1_1021_326)"></path>
        <circle
          cx="126.335"
          cy="51.4004"
          r="7.96685"
          fill="#39414B"
          stroke="#515D6F"></circle>
        <circle
          cx="154.268"
          cy="51.4004"
          r="7.96685"
          fill="#39414B"
          stroke="#515D6F"></circle>
        <circle
          cx="182.202"
          cy="51.4004"
          r="7.96685"
          fill="#39414B"
          stroke="#515D6F"></circle>
        <mask id="path-10-inside-2_1021_326" fill="white">
          <path
            d="M219 51.4004C219 46.7243 222.791 42.9336 227.467 42.9336H522.113C526.789 42.9336 530.58 46.7243 530.58 51.4004V51.4004C530.58 56.0766 526.789 59.8673 522.113 59.8673H227.467C222.791 59.8673 219 56.0766 219 51.4004V51.4004Z"
          ></path>
        </mask>
        <path
          d="M219 51.4004C219 46.7243 222.791 42.9336 227.467 42.9336H522.113C526.789 42.9336 530.58 46.7243 530.58 51.4004V51.4004C530.58 56.0766 526.789 59.8673 522.113 59.8673H227.467C222.791 59.8673 219 56.0766 219 51.4004V51.4004Z"
          fill="#39414B"></path>
        <path
          d="M218 50.9004C218 45.9482 222.015 41.9336 226.967 41.9336H522.613C527.566 41.9336 531.58 45.9482 531.58 50.9004L529.58 51.4004C529.58 47.2766 526.237 43.9336 522.113 43.9336H227.467C223.343 43.9336 220 47.2766 220 51.4004L218 50.9004ZM530.58 59.8673H219H530.58ZM226.967 59.8673C222.015 59.8673 218 55.8527 218 50.9004C218 45.9482 222.015 41.9336 226.967 41.9336L227.467 43.9336C223.343 43.9336 220 47.2766 220 51.4004C220 56.0766 223.343 59.8673 227.467 59.8673H226.967ZM522.613 41.9336C527.566 41.9336 531.58 45.9482 531.58 50.9004C531.58 55.8527 527.566 59.8673 522.613 59.8673H522.113C526.237 59.8673 529.58 56.0766 529.58 51.4004C529.58 47.2766 526.237 43.9336 522.113 43.9336L522.613 41.9336Z"
          fill="#515D6F"
          mask="url(#path-10-inside-2_1021_326)"></path>
      </g>
      <path
        d="M298.969 408.031L308.438 417.5L298.969 426.969M280.031 426.969L270.563 417.5L280.031 408.031M264.25 452.219H314.75C317.261 452.219 319.67 451.221 321.445 449.445C323.221 447.67 324.219 445.261 324.219 442.75V392.25C324.219 389.739 323.221 387.33 321.445 385.555C319.67 383.779 317.261 382.781 314.75 382.781H264.25C261.739 382.781 259.33 383.779 257.555 385.555C255.779 387.33 254.781 389.739 254.781 392.25V442.75C254.781 445.261 255.779 447.67 257.555 449.445C259.33 451.221 261.739 452.219 264.25 452.219Z"
        stroke="#FF426C"
        stroke-width="4.5"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path d="M229 80L229 563" stroke="url(#paint0_linear_1021_326)"></path>
      <path d="M362 80L362 563" stroke="url(#paint1_linear_1021_326)"></path>
      <path d="M500 80L500 563" stroke="url(#paint2_linear_1021_326)"></path>
      <path d="M592 192L109 192" stroke="url(#paint3_linear_1021_326)"></path>
      <path d="M592 344L109 344" stroke="url(#paint4_linear_1021_326)"></path>
      <path d="M592 491L109 491" stroke="url(#paint5_linear_1021_326)"></path>
      <path
        d="M405.148 292.852C406.265 293.97 407.591 294.856 409.051 295.461C410.511 296.066 412.076 296.377 413.656 296.377M405.148 292.852C407.404 295.109 410.465 296.377 413.656 296.377M405.148 292.852C402.891 290.596 401.625 287.535 401.625 284.344V242.234C401.625 240.242 403.242 238.625 405.234 238.625H422.078C424.07 238.625 425.687 240.242 425.687 242.234V255.299M413.656 296.377C415.236 296.377 416.801 296.066 418.261 295.461C419.721 294.856 421.048 293.97 422.165 292.852M413.656 296.377C416.847 296.377 419.908 295.109 422.165 292.852M413.656 296.377L455.766 296.375C457.758 296.375 459.375 294.758 459.375 292.766V275.922C459.375 273.93 457.758 272.313 455.766 272.313H442.701M422.165 292.852L442.701 272.313M422.165 292.852C424.421 290.596 425.687 287.535 425.687 284.344V255.299M442.701 272.313L451.938 263.073C453.35 261.667 453.35 259.383 451.938 257.971L440.029 246.059C438.617 244.65 436.333 244.65 434.927 246.059L425.687 255.299M413.656 284.344H413.682V284.369H413.656V284.344Z"
        stroke="#2FC3D7"
        stroke-width="3.5"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M197.5 168.75L175.375 155.839M197.5 168.75V190.875M197.5 168.75L175.375 181.661M20.5 168.75L42.625 155.839M20.5 168.75L42.625 181.661M20.5 168.75V190.875M109 220.375L131.125 207.464M109 220.375L86.875 207.464M109 220.375V242.5M109 308.875L131.125 295.964M109 308.875V286.75M109 308.875L86.875 295.964M86.875 130.026L109 117.125L131.125 130.036M197.5 235.125V257.25L175.375 270.161M42.625 270.161L20.5 257.25V235.125"
        stroke="#2FC3D7"
        stroke-width="4.5"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </g>
    <defs>
      <filter
        id="filter0_d_1021_326"
        x="68.4"
        y="22.4"
        width="1035.22"
        height="583.092"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feOffset dx="-6" dy="6"></feOffset>
        <feGaussianBlur stdDeviation="4.8"></feGaussianBlur>
        <feComposite in2="hardAlpha" operator="out"></feComposite>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0.0905367 0 0 0 0 0.0946261 0 0 0 0 0.100468 0 0 0 0.33 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow_1021_326"></feBlend>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect1_dropShadow_1021_326"
          result="shape"></feBlend>
      </filter>
      <filter
        id="filter1_bd_1021_326"
        x="68"
        y="10"
        width="1048.02"
        height="595.892"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feGaussianBlur in="BackgroundImageFix" stdDeviation="8"
        ></feGaussianBlur>
        <feComposite
          in2="SourceAlpha"
          operator="in"
          result="effect1_backgroundBlur_1021_326"></feComposite>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feOffset></feOffset>
        <feGaussianBlur stdDeviation="3"></feGaussianBlur>
        <feComposite in2="hardAlpha" operator="out"></feComposite>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0.2 0 0 0 0 0.254902 0 0 0 0 0.333333 0 0 0 0.5 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect1_backgroundBlur_1021_326"
          result="effect2_dropShadow_1021_326"></feBlend>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect2_dropShadow_1021_326"
          result="shape"></feBlend>
      </filter>
      <filter
        id="filter2_bd_1021_326"
        x="93"
        y="65"
        width="537"
        height="517"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feGaussianBlur in="BackgroundImageFix" stdDeviation="8"
        ></feGaussianBlur>
        <feComposite
          in2="SourceAlpha"
          operator="in"
          result="effect1_backgroundBlur_1021_326"></feComposite>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feOffset></feOffset>
        <feGaussianBlur stdDeviation="3"></feGaussianBlur>
        <feComposite in2="hardAlpha" operator="out"></feComposite>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0.2 0 0 0 0 0.254902 0 0 0 0 0.333333 0 0 0 0.5 0"
        ></feColorMatrix>
        <feBlend
          mode="normal"
          in2="effect1_backgroundBlur_1021_326"
          result="effect2_dropShadow_1021_326"></feBlend>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect2_dropShadow_1021_326"
          result="shape"></feBlend>
      </filter>
      <linearGradient
        id="paint0_linear_1021_326"
        x1="229.5"
        y1="80"
        x2="229.5"
        y2="563"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#515D6F" stop-opacity="0.21"></stop>
        <stop offset="0.455" stop-color="#515D6F"></stop>
        <stop offset="1" stop-color="#515D6F" stop-opacity="0.21"></stop>
      </linearGradient>
      <linearGradient
        id="paint1_linear_1021_326"
        x1="362.5"
        y1="80"
        x2="362.5"
        y2="563"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#515D6F" stop-opacity="0.21"></stop>
        <stop offset="0.455" stop-color="#515D6F"></stop>
        <stop offset="1" stop-color="#515D6F" stop-opacity="0.21"></stop>
      </linearGradient>
      <linearGradient
        id="paint2_linear_1021_326"
        x1="500.5"
        y1="80"
        x2="500.5"
        y2="563"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#515D6F" stop-opacity="0.21"></stop>
        <stop offset="0.455" stop-color="#515D6F"></stop>
        <stop offset="1" stop-color="#515D6F" stop-opacity="0.21"></stop>
      </linearGradient>
      <linearGradient
        id="paint3_linear_1021_326"
        x1="350.5"
        y1="192"
        x2="350.5"
        y2="193"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#515D6F" stop-opacity="0.25"></stop>
        <stop offset="0.475" stop-color="#515D6F"></stop>
        <stop offset="1" stop-color="#515D6F" stop-opacity="0.29"></stop>
      </linearGradient>
      <linearGradient
        id="paint4_linear_1021_326"
        x1="350.5"
        y1="344"
        x2="350.5"
        y2="345"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#515D6F" stop-opacity="0.25"></stop>
        <stop offset="0.475" stop-color="#515D6F"></stop>
        <stop offset="1" stop-color="#515D6F" stop-opacity="0.29"></stop>
      </linearGradient>
      <linearGradient
        id="paint5_linear_1021_326"
        x1="350.5"
        y1="491"
        x2="350.5"
        y2="492"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#515D6F" stop-opacity="0.25"></stop>
        <stop offset="0.475" stop-color="#515D6F"></stop>
        <stop offset="1" stop-color="#515D6F" stop-opacity="0.29"></stop>
      </linearGradient>
      <clipPath id="clip0_1021_326">
        <rect width="593" height="620" fill="white"></rect>
      </clipPath>
    </defs>
  </svg>
  <div class="block | content-wrapper"></div>
  <div class="block-2"></div>
</article>

<style>
  .hero {
    --rule-color: color-mix(in hsl, var(--color-neutral-8), transparent 50%);
    position: relative;
    padding-block-start: 14rem;
    padding-block-end: 12rem;
    background: linear-gradient(
      to bottom right,
      var(--color-neutral-10),
      var(--color-neutral-8)
    );
    overflow: hidden;

    & .grid-9 {
      &::before {
        content: "";
        position: absolute;
        width: 1px;
        background: var(--rule-color);
        height: 150vh;
        top: -50vh;
        /* transform: translateY(50%); */
        left: -1rem;
      }

      &::after {
        content: "";
        position: absolute;
        width: 1px;
        background: var(--rule-color);
        height: 150vh;
        top: -50vh;
        left: -2rem;
        transform: rotate(36deg);
      }
    }

    & .text {
      position: relative;
      z-index: 2;
      grid-column: 1/7;

      &.flow {
        --flow-space: var(--space-xl);
      }

      & > .flow {
        --flow-space: var(--space-m);
      }
    }

    & h1 {
      color: var(--color-neutral-1);
      font-size: var(--step-6);
      text-wrap: balance;
    }

    & p {
      color: var(--color-neutral-4);
      font-size: var(--step-1);
      text-wrap: pretty;
    }

    & :is(.block, .block-2) {
      position: absolute;
      bottom: 0;
      background: white;
      height: 4rem;
    }

    & .feature-illustration {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    & .block {
      border-top-left-radius: 2rem;
      width: 100%;
      left: 50%;
      transform: translateX(-50%);
    }

    & .block-2 {
      width: 50%;
      right: 0;
    }
  }
</style>
