---

---

<div class="service-illustration web-design">
  <div class="screen">
    <div class="controls | cluster">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="rows">
      <div class="row animate">
        <div class="pane left a">
          <span class="letter">A</span>
          <img
            class="bg-grid"
            src="/svg/grid-lines.svg"
            width="600"
            alt=""
            loading="eager"
          />
        </div>
        <div class="pane right b">
          <span class="letter">B</span>
          <img
            class="bg-grid"
            src="/svg/grid-lines.svg"
            width="600"
            alt=""
            loading="eager"
          />
        </div>
      </div>
      <div class="row">
        <div class="pane full c">
          <span class="letter">C</span>
          <img
            class="bg-grid"
            src="/svg/grid-lines.svg"
            width="600"
            alt=""
            loading="eager"
          />
        </div>
      </div>
    </div>
  </div>
  <svg
    width="900"
    height="600"
    viewBox="0 0 900 600"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g class="background-shapes">
      <circle cx="150" cy="150" r="150" fill="#FF426C"></circle>
      <path
        d="M600 0.000866771C599.704 0.000866771 599.409 0 599.112 0C433.918 0 300 133.917 300 299.112L300.002 300H600V0.000866771Z"
        fill="#2FC3D7"></path>
      <path
        d="M600 299.999C600.296 299.999 600.591 300 600.888 300C766.082 300 900 166.083 900 0.887615L899.998 3.81468e-05L600 1.19201e-05L600 299.999Z"
        fill="#334155"></path>
      <path
        d="M-2.26497e-05 599.999C0.296413 599.999 0.591118 600 0.887554 600C166.082 600 300 466.083 300 300.888L299.998 300L3.57706e-06 300L-2.26497e-05 599.999Z"
        fill="#2FC3D7"></path>
      <circle cx="450" cy="450" r="150" fill="#334155"></circle>
      <path
        d="M899.999 600C899.999 599.704 900 599.409 900 599.112C900 433.918 766.083 300 600.888 300L600 300.002L600 600L899.999 600Z"
        fill="#334155"></path>
    </g>
  </svg>
</div>

<style>
  .service-illustration svg {
    background-color: var(--color-primary-1);
  }

  .screen {
    position: absolute;
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    /* margin-inline: auto; */
    top: calc(50% + 0.25rem);
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    border: 1px solid var(--color-neutral-2);
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.92);
    backdrop-filter: blur(12px);
    overflow: hidden;

    &.slim {
      width: 22rem;
    }
  }

  .controls {
    margin: 1rem;

    &.cluster {
      --cluster-space: 0.33rem;
    }

    & > * {
      display: inline-block;
      height: 10px;
      width: 10px;
      border-radius: 999px;
    }

    & > :nth-child(1) {
      background-color: var(--color-primary-4);
    }

    & > :nth-child(2) {
      background-color: var(--color-secondary-4);
    }

    & > :nth-child(3) {
      background-color: var(--color-neutral-7);
    }
  }

  .rows,
  .row {
    display: flex;
    gap: 1rem;
  }

  .rows {
    container: screenRows / size;
    flex-direction: column;
    margin: 1rem;
    margin-block-start: 2rem;
    height: 100%;
  }

  .row {
    /* min-height: 20cqh; */

    &.reorder {
      flex-direction: column;

      & :is(.pane.left, .pane.right) {
        height: 20cqh;
        width: 100%;
      }
    }
  }

  .pane {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: var(--rounded-corners-small);
    border: 1px solid var(--pane-border);
    background-color: var(--pane-background);
    overflow: hidden;

    &.left {
      height: 50cqh;
      width: 66.6%;
    }

    &.right {
      height: 50cqh;
      width: 33.3%;
    }

    &.full {
      height: 20cqh;
      width: 100%;
    }

    &.a {
      --pane-background: var(--color-primary-1);
      --pane-border: var(--color-primary-2);
    }

    &.b {
      --pane-background: var(--color-secondary-1);
      --pane-border: var(--color-secondary-2);
    }

    &.c {
      --pane-background: var(--color-neutral-2-fade);
      --pane-border: var(--color-neutral-2);
    }

    & .letter {
      font-family: var(--font-heading);
      font-weight: var(--font-heading-weight);
      font-size: 32px;
    }
  }

  .bg-grid {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
  }
</style>
